RULES

1.DONT SAY ITS YOURS I GOT A WATERMARK ON IT

2.JUST HAVE FUN

3.ADD xn1_x ON DISCORD FOR MORE UPDATES I WILL TRY TO UPDATE THIS LIKE EVERYWEEK ADD ME ON DISCORD SO YOU CAN ASK WANT TO ADD


WHAT DOES NOT WORK
I DONT THINK THE JOIN FRIENDS DONT WORK YOU CAN TEST IT
